<article>

    <header>

        {% if cagada.usuario.foto %}

            <img
                src="{{ cagada.usuario.foto.url }}"
                alt="Foto de {{ cagada.usuario.username }}"
                width="60"
                height="60"
            >

        {% else %}

            <div>
                👤
            </div>

        {% endif %}

        <h2>
            {{ cagada.usuario.username }}
        </h2>

    </header>


    <section>

        <p>

            El
            {{ cagada.hora_inicio_cagada|date:"d \d\e F" }}
            a las
            {{ cagada.hora_inicio_cagada|date:"h:i A" }}

            <strong>
                {{ cagada.usuario.username }}
            </strong>

            hizo una cagada de

            <strong>
                {{ cagada.duracion }}
            </strong>

            {% if cagada.ubicacion %}

                en
                <strong>
                    {{ cagada.ubicacion.nombre }}
                </strong>

            {% endif %}.

        </p>


        <p>

            <strong>
                Calificación:
            </strong>

            ⭐ {{ cagada.calificacion }}

        </p>


        <p>

            <strong>
                Categoría:
            </strong>

            {{ cagada.get_categorizacion_display }}

        </p>


        <p>

            <strong>
                Color:
            </strong>

            <span
                style="
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-color: {{ cagada.color }};
                    border: 1px solid black;
                    vertical-align: middle;
                "
                title="{{ cagada.color }}"
            ></span>

            {{ cagada.color }}

        </p>


        {% if cagada.observaciones %}

            <div>

                <strong>
                    Observaciones:
                </strong>

                <p>
                    {{ cagada.observaciones }}
                </p>

            </div>

        {% endif %}

    </section>


    <footer>

        <a
            href="{% url 'detalle_cagada_publica' cagada.id %}"
        >
            Ver detalle
        </a>

    </footer>

</article>

<hr>