<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Eliminar ubicación - Proyecto KK</title>
</head>

<body>

    <h1>Eliminar ubicación</h1>

    <h2>
        {{ ubicacion.nombre }}
    </h2>

    <p>
        ¿Estás seguro de que quieres eliminar esta ubicación?
    </p>

    <p>
        Las cagadas asociadas a esta ubicación
        no serán eliminadas.
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit">
            Sí, eliminar ubicación
        </button>

    </form>

    <p>
        <a href="{% url 'listar_ubicaciones' %}">
            Cancelar
        </a>
    </p>

</body>

</html>